<div class="div1">
    <div class="div2">
        <div class="row">

            <div class="col-1">
                <table >
                    <caption> Available Plans</caption>
                    <thead>

                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Price</th>
                        <th scope="col">Validity</th>
                        <th scope="col">Descriptionnnn!!!</th>
                    </tr>
                </thead>
                    <tbody id="plans">

                    </tbody>
                </table>
            </div>
            <div class  =  "col-2">
                <img src="./images/airtel.png" alt="airtel" height="60px" width="80px">
                <img style="padding-left : 30px;" src="./images/jio.png" alt="airtel" height="60px" width="80px">
                <img style="padding-left:50px;" src="./images/vodafoneidea.png" alt="vi" height="60px" width="80px">
            </div>
        </div>
    </div>
