<div class="div1">
    <div class="div2">
        <div class="row">

            <div class="col-1">
                <table >
                    <caption> Available Plans</caption>
                    <thead>

                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Price</th>
                        <th scope="col">Validity</th>
                        <th scope="col">Descriptionnnn!!!</th>
                    </tr>
                </thead>
                    <tbody id="plans" >
                        <tr *ngFor="let sims of sim">
                            <td> {{sims.id}}</td>
                            <td>{{sims.price}}</td>
                            <td>{{sims.validity}}</td>
                            <td>{{sims.description}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
