
.register-content{
     background-image:url(/assets/images/reg.jpg) ; 
    background-repeat:no-repeat;
    background-size:cover; 
    margin-left: 0%;
    padding:150px;
    height:300px;
} 
.example{
    margin-top: 20px;
}