<div class="register-content">
<h1>Register</h1>
<form (ngSubmit)="register()">
    <div class="register">
<label for="name">Name </label><br>
    <input type="text" name="name" [(ngModel)]="name" placeholder="Enter the name" autofocus> <br>
    <label for="email"> Email</label><br>
    <input type="email" name="email" [(ngModel)]="email" placeholder="enter the email" required><br>
    <label for="password">Password</label><br>
    <input type="text" name="password" [(ngModel)]="password" placeholder="enter the password"><br>
    <button>submit</button>
</div>
</form>
</div>
    
