.recharge-content{
    color : black;
    font-size: 24px;
    border: 1px solid black;
    width: 50%;
    margin: auto;
    background-color:whitesmoke;
}
.recharge{
    text-decoration: none;

}
.recharge-head{
    font-size: 30px;
}
.recharge-body{
    max-width: 50%;
    border:1px solid black;
    display: block;
    margin: auto;
    margin-top: 200px;
    background-color: grey;
}
