<div class="prepaid-content">
<div class="prepaid">
    <form action="payment.html">
        <h1>PREPAID</h1><br>
        <label for="mobilenumber">Mobilenumber</label>
        <br>
        <input class="box-style" type="number" name="mobilenumber" id="mobilenumber" placefolder="mobilenumber" autofocus required>
        <br>
        <br>
        <br>
        <select class="select-style" id ="sims" required>
            <option *ngFor="let sim of providers" value={{sim.id}}>{{sim.name}}</option>
           
        </select>
        <select class="select-style" id="plans">
            <option *ngFor="let plan of content" value={{plan.id}}>{{plan.price}}</option>
           
        </select>
        <br>
        <a routerLink="/payment">
<button>
    submit
</button>
        </a>
    </form>
</div>
</div>
