<div class="prepaid-content">
<div class="prepaid">
    <form action="payment.html">
        <h1>PREPAID</h1><br>
        <label for="mobilenumber">Mobilenumber</label>
        <br>
        <input class="box-style" type="number" name="mobilenumber" id="mobilenumber" placefolder="mobilenumber" autofocus required>
        <br>
        <br>
        <br>
        <select class="select-style" id ="sims">
            
           
        </select>
        <select class="select-style" id="plans">

        </select>
        <br>
        <button class="prepaid-button">confirm</button>
    </form>
</div>
</div>
