<div class="postpaid">
<h1>postpaid</h1>
<label class="postpaid-label"for="mobilenumber">Mobilenumber</label><br>
<input class="postpaid-input"type="number" name="mobilenumber" id="mobilenumber" placeholder="mobilenumber" autofocus required><br>
<select id="provider" required>
        <option selected> select sim</option>
        <option>airtel</option>
        <option>jio</option>
        <option>vodafone</option>
        <option>idea</option>
</select>
        <button>confirm</button>
        </div>