
    <div class="debit-card">
        <div class="debit-card2">
            <form onsubmit="debitcard()" class="formcontainer">
                    <h1>Debitcard</h1><br/>
                    <label for="Accountnumber">Accountnumber</label>
                    <input class="box-style" type="password" name="accountnumber" id="accountnumber" placeholder="accountnumber"
                        autofocus><br><br/>
                    <label for="accountholdername">Accountholdername</label>
                    <input class="box-style" type="text" name="name" id="accountholdername" placeholder="accountholdername"><br>
                    <br/>
                    <select class="select-style" required>
                        <option value="selected">Bank</option>
                        <option>cityunionbank</option>
                        <option>indianbank</option>
                        <option>statebankofindia</option>
                    </select>
                    <br><br/>


                    <label class="third" for="branchname">Branchname</label>
                    <input class="box-style" type="text" id="branchname" nam    e="branchname">
                    <br>
                    <button>Proceed</button>
                    <br/>
                    <br/>
                    <br/>
            </form>

        </div>
        </div>
